###############################################################################
# Please modify this file if you want to configure your own application.
# You can uncommon and/or change the following Kconfig elements.
###############################################################################


if ROOTFS_COMPONENT_APPS_NAME_DMA_PROXY_TEST
	comment "No additional options for DMA_PROXY_TEST"

# 	config APPS_DMA_PROXY_TEST_OPTION0
#	bool "option0"
#	help
#	  Help text
endif
